{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="container">

    <div class="row my-3">
        <div class="col-12">
            <h2 class="text-muted text-center">Ajouter un nouvel article</h2>
        </div>
        <div class="col-6 mx-auto mt-4">
            {#On va ajouter l'attr qui permet de soumettre le formulaire que sous certaine conditions #}
            {{ form(form, {'attr': {novalidate: 'novalidate'} }) }}

            {#
    {{ form_start(form, {'attr': }) }} revient à faire => <form >
    {{ form_end(form) }} revient à faire => </form>
#}

        </div>
    </div>
</div>


{% endblock %}
